<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js" type="application/javascript"></script>


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="app.js" type="application/javascript"></script>

    <link rel="icon"   href="../icons/profile.jpg" />
    <link rel="stylesheet"  type="text/css" href="main.css" />
</head>
<body ng-controller="mainController">








    <div id="top-menu">


        <div id="top-menu-container">
            <a href="..">  <div class="top-menu-item" >Home</div></a>
            <div  class="top-menu-item"  style="border-bottom-style: solid; border-width: 7px; border-color: #4a86e8; height:13px;">Work</div>
            <a href="../files/sam_bhattacharyya_dotlearn_resume.pdf" target="_blank" ><div class="top-menu-item">Resume</div></a>
            <a href="https://medium.com/@sambhattacharyya" target="_blank" > <div  class="top-menu-item">Blog</div></a>
            <a href="mailto:sam@dotlearn.org" target="_blank"><div class="top-menu-item">Contact</div></a>

        </div>



    </div>



    <div id="container" >


        <div style="float: left; overflow-y: hidden;  width:200px;" >

        <h2>Currently working on</h2>
        
            <div class="sublink" ng-click="work='dotlearn'"   ng-class="{'sublink-selected': (work=='dotlearn')}" >dot Learn</div>
        


        <h2>Would like to work on</h2>


            <div class="sublink" ng-click="work='prosthetics'"   ng-class="{'sublink-selected': (work=='prosthetics')}" >Thistle prosthetics</div>



        <h2>Previous work</h2>

            <div class="sublink" ng-click="work='audiorecord'"   ng-class="{'sublink-selected': (work=='audiorecord')}" >Coding projects</div>
            <div class="sublink" ng-click="work='peacecorps'"   ng-class="{'sublink-selected': (work=='peacecorps')}" >Peace Corps</div>
            <div class="sublink" ng-click="work='rhands'"   ng-class="{'sublink-selected': (work=='rhands')}" >PhD work in Robotics</div>

        </div>

        <ng-include src="'projects/'+ work+'/index.html'" style="float: right; width: 750px; height: 80vh; overflow-y: auto;"></ng-include>



    </div>







    <div id="footer">Powered by caffiene, hard-coded with care</div>



</body>
</html>