html{
    height: 100%;
    width: 100%;
    font-family: Open Sans;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    height: 100%;
    width: 100%;
    background-color: #fafafa;
}


#contact-box{
    position: absolute;
    left: 330px;
    bottom: 0;
    height: 70px;
}

img.contact{
    position: relative;
    float: left;
    margin: 0 15px;


}

#top-menu{
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    box-shadow: 3px 3px 3px #888888;
}


#container{



    width: 1024px;
    display: block;
    margin: auto;
    position: relative;
    top: 100px;

}
#namecard{

    position: relative;
    height: 400px;
    top: 50px;

}

#profile{
    position: absolute;
    left: 0;
    top: 0;
}

#title{
    position: absolute;
    left: 350px;
    right: 0;
    top: 0;
    font-size: 36px;
    font-weight: bold;
    color: #333333;

}
#description{
    position: absolute;
    left: 350px;
    right: 0;
    top: 60px;
    font-size: 18px;
    width: 600px;
    text-align: justify;
    color: #666666;
}

#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    background-color: #dddddd;
    color: #888888;
    font-size: 12px;
}